body {
  margin: 0;
  padding: 0;
  background-color: rgb(247, 224, 196);
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  /* overflow: hidden; */
  overflow-x: hidden;
}
.masthead {
  min-height: 90vh;
  /* position: relative; */
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.section-one {
  height: 100vh;
}

.heading.welcome-msg {
  padding-top: 20vh;
}

.slider-image {
  position: absolute;
  z-index: -1;
  padding: 0;
}

.slider-image img {
  position: relative;
  width: 100vw;
  max-height: 100vh;
  filter: blur(3px);
}
.heading {
  font-size: 4rem;
}

.navbar-brand {
  font-size: 1.5em;
  margin-left: 20px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .section-one {
    height: 40vh;
  }
  .masthead {
    min-height: 50vh;
  }
  .title {
    font-size: 0.8rem;
  }
  .slider-image img {
    height: 37vh;
  }
  .heading {
    font-size: 2rem;
  }
  .heading.welcome-msg {
    padding-top: 0;
  }
  .navbar-brand {
    margin-right: 50px;
  }
}
